<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <form action="/users" method="post">
        <input id="username" name="username" type="text">
        <input id="password" name="password" type="password">
        <button type="submit">post users</button>
      </form>


  </body>
</html>
